body {
    background-color: #1c1c1e; /* Dark background */
    color: #ffffff; /* Light text color for readability */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 1em; /* Margin around the page */
}

.container {
    background-color: #2c2c2e; /* Slightly lighter than body for contrast */
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Light shadow for depth */
    border-radius: 12px; /* Rounded corners */
    margin-top: 50px; /* Top margin */
    margin-bottom: 1em; /* Bottom margin */
}

.form-group label {
    color: #ffffff; /* White label text */
    margin-bottom: 0.5em; /* Spacing below labels */
}

.form-control {
    background-color: #dcdcdc; /* Light grey background */
    color: #333333; /* Dark grey text */
    border: 1px solid #6c757d; /* Border color */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center text */
    margin-bottom: 1em; /* Spacing below form controls */
}

/* Custom styles for larger checkboxes */
.form-check-input {
    width: 20px;  /* Double the default width */
    height: 20px;  /* Double the default height */
    cursor: pointer;
}

/* Adjust the alignment of checkbox labels */
.form-check-label {
    color: #ffffff; /* White text for checkboxes */
    margin-left: 0.4em;  /* Adjust the space between checkbox and label */
    vertical-align: middle;  /* Align the text vertically with the checkbox */
}

.btn-primary {
    background-color: #0a84ff; /* Primary button color */
    border: none;
    margin-top: 1em; /* Spacing above the button */
}

.btn-primary:hover {
    background-color: #007aff; /* Hover color */
}

#result {
    background-color: #48484a; /* Result background */
    color: #ffffff; /* White text */
    padding: 10px;
    border-left: 5px solid #0a84ff; /* Left border color */
    margin-top: 20px; /* Spacing above the result area */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .row > div {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

#otherpages {
	margin-top: 1em;
	font-style: normal;
	font-size: 1.5em;
	font-weight: bold;
}